# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
Package/Library/MobileSubstrate/DynamicLibraries/Couria.dylib
Package/Library/MobileSubstrate/DynamicLibraries/MessagesExtension.dylib
Package/Library/PreferenceBundles/Couria.bundle/Couria
Package/Library/WeeLoader/Plugins/CouriaWidget.bundle/CouriaWidget