Package: me.qusic.couriaios8
Name: Couria
Version: 0.8.6
Description: Centralized Quick Reply System
Section: Tweaks
Depends: firmware (>= 8.0), mobilesubstrate, preferenceloader
Priority: optional
Architecture: iphoneos-arm
Author: Qusic <hi@qusic.me>
Maintainer: Qusic <hi@qusic.me>
Sponsor: Qusic <hi@qusic.me>
Icon: file:///Library/PreferenceBundles/CouriaPreferences.bundle/Couria.png
Homepage: http://qusic.me/
Tag: purpose::extension
